<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LockIt"
        tools:targetApi="tiramisu">
        <activity
            android:name=".EndLocationActivity"
            android:exported="true" />
        <activity
            android:name=".OpenLockerActivity"
            android:exported="true" />
        <activity
            android:name=".RentalCompletedActivity"
            android:exported="true" />
        <activity
            android:name=".WriteNFCActivity"
            android:exported="true" />
        <activity
            android:name=".ReadNFCActivity"
            android:exported="true" />
        <activity
            android:name=".DisplayClientPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".ChooseOpenOrEndRentActivity"
            android:exported="true" />
        <activity
            android:name=".SelectNumberOfUsersActivity"
            android:exported="true" />
        <activity
            android:name=".NfcActivity"
            android:exported="true" />
        <activity
            android:name=".QrCodeScannerActivity"
            android:exported="true" />
        <activity
            android:name=".ManagerMainActivity"
            android:exported="true" />
        <activity
            android:name=".CameraPreviewActivity"
            android:exported="true" />
        <activity
            android:name=".DisplayLockerInfoActivity"
            android:exported="true" />
        <activity
            android:name=".SelectCardActivity"
            android:exported="true" />
        <activity
            android:name=".ClientMainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterCardActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".RentLockerActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterAccountActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LockIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>

</manifest>